* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Roboto, sans-serif;
   font-size: 14px;
}

body {
   color: #4b5c6b;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
}

main {
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   margin-top: 30px;
}
ul,
li {
   list-style: none;
}
a {
   all: unset;
   cursor: pointer;
   width: 100%;
}
button {
   all: unset;
   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: center;

   &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(101, 88, 245, 0.6);
   }
}
input:focus{
   outline: none;
   box-shadow: 0 0 0 4px rgba(101, 88, 245, 0.6);
}

#root {
   max-width: 1200px;
   width: 100%;
}
@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@media screen and (min-width: 768px) {
   main {
      margin-top: 100px;
      flex-direction: row;
   }
   aside {
      position: relative;
   }
}
