@import '../styles/animations.scss';

.sideCard {
   height: calc(100vh - 60px);
   width: 100%;
   position: absolute;
   background-color: #fff;
   z-index: 3;
   border: 2px solid #c3cfd9;
   display: flex;
   flex-direction: column;
}
.sideCardTop {
   display: flex;
   justify-content: space-between;
   margin: 20px;
   p {
      font-size: 20px;
   }
   button {
      color: #6558f5;
      text-decoration: underline;
   }
}
.sideCardWrapper {
   margin: 10px 20px;
   flex-grow: 1;
   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
   animation: fade-in 0.5s linear;

   button:active{
      -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   }

   &::-webkit-scrollbar {
      display: none;
   }

   .movie {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .movieLogo {
         margin-right: 10px;
         img {
            width: 35px;
            height: 35px;
         }
      }
      .movieInfoWrapper {
         width: 100%;
         display: flex;
         align-items: center;
         .movieTitle {
            flex-grow: 1;
            width: 40%;
            margin-right: 10px;
         }
         .price {
            margin: 0px 20px 0px 0px;
            width: 80px;
            text-align: right;
         }
      }
      .iconWrapper {
         display: flex;
         justify-content: flex-end;
         flex-grow: 1;
         .shoppingCartIcon {
            color: #1aae9f;
            margin-right: 10px;
         }
         .trashIcon {
            width: 30px;
            height: 30px;
            color: #4b5c6b;
         }
      }
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@media screen and(min-width: 768px) {
   .sideCard {
      width: 330px;
      right: 0;
   }
}

