.movieItem{
   width: 180px;
   height: 350px;
   font-size: 14px;
   animation: fade-in 1s linear;
   
   .movieCover{
      height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 2px solid #9eadba;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      .favourite{
         position: absolute;
         top: 0;
         right: 0;
         margin: 5px;
         cursor: pointer;
      }
      .movieRelease{
         margin-bottom: 5px;
      }
   }
   .movieBottom{
      border: 2px solid #c3cfd9; 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      margin-top: -2px;

      .movieTitle{
         margin: 10px 0 5px 0;
         max-width: 160px;
         text-align: center;
         white-space: nowrap; 
         overflow: hidden; 
         text-overflow: ellipsis;
         height: 20px;

         strong{
            font-size: 15px;
         }
                 
      }
      .movieInfo{
         display: flex;
         flex-direction: column;

         .movieDetails{
            display: flex;
            margin-bottom: 10px;
            
            .rating{
               margin-right: 10px;
               font-weight: bold;
               svg{
                  margin-right: 5px;
               }
              
            }
         }
         .price{
            text-align: center;
            margin-bottom: 10px;
         }
      }
   }
  
}

@keyframes fade-in {
   0% {opacity: 0}
   100% {opacity: 1}
}