
@import '../../styles//animations.scss';

.movieList{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   max-width: 1000px;

   & > * {
      margin: 4px 4px;
   }
}

.loading{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30vh;
   animation: rotate-spinner 2s infinite;
   
}

@media screen and (min-width: 768px){
   .movieList{
      & > * {
         margin: 15px 30px;
      }
   }
   .loading{
      margin-top: 30vh;
   }
}