.header{
   width: 100%;
   background-color: #8dd7cf;
   color: white;

   height: 60px;
   padding: 0 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   
   .headerWrapper{
      width: 100%;
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .logo{
      font-size: 20px;
      font-weight: bold;
   }
   .hamburguerMenu{

   }
   .searchbarWrapper{
      background-color: #fff;
      color: #4b5c6b;
      font-weight: medium;
      
      display: flex;
      align-items: center;
      position: relative;
      width: 200px;
      height: 40px;
      border: 2px solid #97bec3;
      border-radius: 4px;
      width: 50%;
      max-width: 400px;

      input{
         all: unset;
         padding: 10px;
         width: 100%;
         box-shadow: 0 0 0 4px transparent;
         
         &:focus{
            outline: none;
            box-shadow: 0 0 0 4px rgba(101, 88, 245, 0.6);
         }
      }
      .searchIcon{
         position: absolute;
         right: 0;
         padding-right: 8px;
         
         &:hover{
            -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
         }

      }
   }
   .iconWrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      
      button:hover{
         -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
         animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      }
      button:first-of-type{
         margin-right: 20px;
      }
   }
}
.numberOfMovies{
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #fbe192;
   font-size: 12px;
   color:#4b5c6b;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   left: -6px;
   top: -8px;
}
@media screen and (min-width: 768px) {
   .header{
      padding: 0 40px;
      position: absolute;
      top: 0;
      left: 0;

      .hamburguerMenu{
         display: none;
      }
   }
   aside{
      margin-top: 60px;
   }
   main{
      margin-top: 100px;

      .movieList{
         margin-top: 0px;
      }
   }
}

 @-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
   100% {
     -webkit-transform: scale(1.2);
             transform: scale(1.2);
   }
 }
 @keyframes scale-up-center {
   0% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
   100% {
     -webkit-transform: scale(1.2);
             transform: scale(1.2);
   }
 }
 